{
  "ignorePatterns": ["node_modules/"],
  "env": {
    "node": true,
    "browser": false,
    "commonjs": true,
    "mocha": true,
    "es2021": true,
  },
  "extends": ["airbnb-typescript/base", "plugin:playwright/playwright-test", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": ["tsconfig.json"],
      },
    },
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "plugins": ["@typescript-eslint", "playwright", "import"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "": "never",
      },
    ],
    "prettier/prettier": "error",
    "camelcase": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/quotes": "off",
  },
}
